<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>Stock Market Chart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <style>
      body {
        padding-top: 60px;
      }
    </style>

  </head>
  <body>
    <div class="container" ng-controller="ChatController">
      <h1>Chart the Stock Market</h1>
      <div id="container" style="height: 400px; min-width: 310px"></div>

      <div class="row search">
        <div class="col-md-offset-2 col-md-8 ">
          <p><i>Syncs in realtime across clients.</i></p>
          <form class="input-group" ng-submit="send()">
            <input type="text" class="form-control" ng-model="stock" placeholder="Stock code">
            <span class="input-group-btn">
              <input type="submit" class="btn btn-primary" value="Add" >
            </span>
          </form>
        </div>
        <div class="errors"></div>
      </div>
      <div class="row col-centered">
        <div ng-repeat="stock in stocks">
          <div class="card">
            <div class="card-container">
              <h4 ng-bind="stock.code"></h4> 
              <p>{{stock.name}}<button class=" pull-right" ng-attr-id="stock" ng-click="sendDelete(stock.code)">Delete</button></p> 
            </div>
          </div>
        </div>
      </div>
      <div class="row text-center">
        <p>Made by <a href="http://carnes.cc">Beau Carnes</a>. View on <a href="https://github.com/beaucarnes/stockwatcher">Github</a>.</p>
      </div>
    </div>
    <script type="text/javascript" src="https://www.highcharts.com/samples/data/three-series-1000-points.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="/js/script.js"></script>
    
  </body>
</html>
